body { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkgray;
    background-image: url("mercado.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header, section{
    background-color: white;
    max-width: 600px;
    padding: 10px;
    margin: auto; 
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0)
    
}